{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>{% block title %}DataSentinel{% endblock %}</title>

<link rel="stylesheet" href="{% static 'css/base.css' %}">

{% block extra_css %}{% endblock %}


</head>

<body>

<div class="app">


<aside class="sidebar">

    <div class="brand">
        <div class="brand-icon">DS</div>

        <div class="brand-text">
            <h2>DataSentinel</h2>
            <span>Data Quality Platform</span>
        </div>
    </div>

    <nav class="navigation">

        <a href="/dashboard/" class="nav-item {% block dashboard_active %}{% endblock %}">
            <span class="nav-icon">⌂</span>
            <span>Dashboard</span>
        </a>

        <a href="/pipelines/" class="nav-item {% block pipelines_active %}{% endblock %}">
            <span class="nav-icon">◈</span>
            <span>Pipelines</span>
        </a>

        <a href="/runs/" class="nav-item {% block runs_active %}{% endblock %}">
            <span class="nav-icon">↻</span>
            <span>Runs</span>
        </a>

        <a href="/issues/" class="nav-item {% block issues_active %}{% endblock %}">
            <span class="nav-icon">⚠</span>
            <span>Issues</span>
        </a>

        <a href="/datasets/" class="nav-item {% block datasets_active %}{% endblock %}">
            <span class="nav-icon">▣</span>
            <span>Datasets</span>
        </a>

        <a
            href="{% if request.user.is_authenticated %}{% url 'profile' %}{% else %}{% url 'login' %}{% endif %}"
            class="nav-item {% block profile_active %}{% endblock %}"
        >
            <span class="nav-icon profile-avatar {% if not request.user.is_authenticated %}guest-avatar{% endif %}">
                {% if request.user.is_authenticated %}
                    {% if request.user.first_name %}
                        {{ request.user.first_name|slice:":1"|upper }}
                    {% else %}
                        {{ request.user.username|slice:":1"|upper }}
                    {% endif %}
                {% else %}
                    👤
                {% endif %}
            </span>

            <span>Profile</span>
        </a>

    </nav>

    <div class="sidebar-bottom">

        <div class="system-status">
            <span class="status-dot"></span>

            <div>
                <strong>System Operational</strong>
                <small>API connected</small>
            </div>
        </div>

    </div>

</aside>

<main class="main-content">

    {% block content %}
    {% endblock %}

</main>


</div>

{% block extra_js %}
{% endblock %}

</body>
</html>
